venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
ENV/

# Google Calendar OAuth credentials
credentials.json
token.json

# Uploads folder
uploads/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
